/* Utility Classes */
.flex {
    display: flex;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background-color: #2a2a2a;
    border-radius: 10px;
    border: 3px solid #121212;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3e3e3e;
}

/* Firefox Scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: #2a2a2a #121212;
}